.App {
    z-index: 1;
    width: 600px;
    display: block;
    display: absolute;
    margin: auto;
}

.base-container {
    width: 100%;
    border-radius: 4px;
    border: 1px solid;
    padding: 6px;
    margin: 10px;
}

#editor {
    @extend .base-container;
    height: 30vh;
    resize: vertical;
    background-color: white;
}

#preview {
    @extend .base-container;
    background-color: white;
}

code {
    border-radius: 2px;
    background-color: #eee;
    padding: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

pre {
    border-radius: 2px;
    background-color: #eee;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

pre code {
    all: unset;
}

blockquote {
    border-left: 2px solid;
    padding-left: 6px;
}

// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #222';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px rgb(#{random(255)}, #{random(255)}, #{random(255)})';
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(600);
$shadows-big:    multiple-box-shadow(200);
$animation-period: 60s;
$small-slides-size: 15px;
$large-slides-size: 40px;

html {
  overflow-x: hidden;
}

@keyframes horizontalSlides {
    from {
      transform: translateX(2000px);
    }
    to {	
      transform: translateX(-2000px);
    }
  }

#slides {
  width: $small-slides-size;
  height: $small-slides-size;
  background: transparent;
  box-shadow: $shadows-small;
  animation: horizontalSlides $animation-period linear infinite;
  position: absolute;
  top: 0px;
  z-index: -1;
}

#slides-delayed {
    width: $small-slides-size;
    height: $small-slides-size;
    background: transparent;
    box-shadow: $shadows-small;
    animation: horizontalSlides $animation-period linear infinite;
    animation-delay: #{-$animation-period / 2};
    position: absolute;
    top: 0px;
    z-index: -1;
  }

#large-slides {
    width: $large-slides-size;
    height: $large-slides-size;
    background: transparent;
    box-shadow: $shadows-big;
    animation: horizontalSlides #{$animation-period * 1.5} linear infinite;
    position: absolute;
    top: 0px;
    z-index: -2;
  }
  
#large-slides-delayed {
      width: $large-slides-size;
      height: $large-slides-size;
      background: transparent;
      box-shadow: $shadows-big;
      animation: horizontalSlides #{$animation-period * 1.5} linear infinite;
      animation-delay: #{-$animation-period * 0.75};
      position: absolute;
      top: 0px;
      z-index: -2;
    }
